body {
    background-color: #F5F5F5;
    color: #212121;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.06em;
}
/* points */
ul {
    list-style: none;
}

/* header */
.logo {
    color: #000000;
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo:hover {
    color: #2196F3;
}
.site-nav .link {
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: #2196F3;
}

.site-nav .link.current {
    color: #2196F3;
} 

/* hero */
.hero-title {
    color: #FFFFFF;
    background-color: #2F303A;
    font-weight: 400;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}

/* section */
.section-title {
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.section-titles {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.section-text {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/* button */
.button-primary {
    color: #212121;
    background-color: #F5F4FA;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}

.button-primary:hover {
    background-color: #2196F3;
    color: #F5F4FA;
}

.button-primary:focus {
    cursor: pointer;
}
/* footer */
.footer {
    background-color: #2F303A;
}
.logo-title {
    color: #FFFFFF;
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.site-nav.items:hover,
.site-nav.items:focus {
    color: #2196F3;
}
.site-nav.items .navigation {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    etter-spacing: 0.02em;
}
.site-nav.items .item {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    etter-spacing: 0.02em; 
}
