body {
    background-color: #F5F5F5;
    color: #212121;
}
/* points */
ul {
    list-style: none;
}

/* header */
.logo {
    color: #000000;
}
.logo:hover {
    color: #2196F3;
}
.site-nav .link {
    color: #000000;
}
.site-nav .link:hover, 
.site-nav .link:focus{
    color: #2196F3;
}

.site-nav .link.current {
    color: #2196F3;
} 

/* hero */
.hero-title {
    color: #FFFFFF;
}

/* section */
.section-title {
    color: #212121;
}

.section-text {
    color: #757575;
}
/* button */

.button-primary {
    color: #212121;
    background-color: #F5F4FA;
}

.button-primary:hover 
.button-primary:focus{
color: #2196F3;
}
